<!doctype html>

<html>
<head>
    <title>Vereinsflieger-Tools &ndash; präs. von EDSH Luftsportverein Backnang-Heiningen</title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"
        integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY="
        crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{{ asset('styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"
        integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs="
        crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
</head>

<body>

<div class="row columns">
    <h1>LSV BK: Vereinsflieger.de &ndash; Tools</h1>
</div>

{% for message in app.flashes('notice') %}
    <div class="callout secondary">
        <i class="fa fa-exclamation-triangle"></i> {{ message }}
    </div>
{% endfor %}

<section>
    <div class="row columns">
        <h3><i class="fa fa-chevron-right"></i> Flug-Exportdatei generieren</h3>
        <p>Dies erstellt eine Exportdatei aus den im Vereinsflieger gepflegten Flügen
            zum Import in AME Avia.</p>
        <form method="POST" action="{{ path('flights_download') }}">
            <div class="row">

                <div class="small-6 medium-4 large-3 columns">
                    <label>Datum von
                        <input type="date" name="dateFrom" value="{{ dateFrom ?: "now"|date("Y-m-d") }}"></label>
                </div>

                <div class="small-6 medium-4 large-3 columns end">
                    <label>Datum bis
                        <input type="date" name="dateUntil" value="{{ dateUntil ?: "now"|date("Y-m-d") }}"></label>
                </div>
            </div>

            <div class="row columns">
                <p class="callout secondary">
                    <i class="fa fa-exlamation"></i> Achtung: jeder Tag dauert etwa 2..3 Sekunden zum Laden, dementsprechend
                    kann der Gesamtprozess bei einer Woche bereits bei 21 Sekunden liegen.
                </p>
                <button class="button">Her damit!</button>
            </div>
        </form>
    </div>
</section>

{#
<div class="row">
    <div class="small-10 medium-4 large-3 small-centered columns">
        <fieldset style="margin-top: 3rem">
            <legend><h4>Login</h4></legend>
            <form>
                <label>Benutzername
                    <input type="text" name="username"></label>
                <label>Passwort
                    <input type="password" name="password"></label>

                <button class="button" type="submit">Abflug!</button>
            </form>
        </fieldset>
    </div>
</div>
#}

</body>

</html>
